%dl.dl-horizontal
  // GENERAL ORDER DETAILS FOR ALL
  // Name
  %dt= heading_helper Order, :name
  %dd= @order.name
  // Order Ends
  %dt= heading_helper Order, :ends
  %dd= format_time(@order.ends)
  // Pickup
  - unless @order.pickup.blank?
    %dt= heading_helper Order, :pickup
    %dd= format_date(@order.pickup)
  // Min Order Quantity
  - unless @order.stockit? or @order.supplier.min_order_quantity.blank?
    %dt= heading_helper Supplier, :min_order_quantity, short: true
    %dd= @order.supplier.min_order_quantity
  // Group Order Sum Amount
  %dt= t 'group_orders.form.sum_amount'
  %dd= number_to_currency @order.sum
  // Created By
  %dt= heading_helper Order, :created_by
  %dd= show_user_link(@order.created_by)
  // Updated By
  - unless @group_order.new_record?
    %dt= heading_helper GroupOrder, :updated_by
    %dd
      = show_user(@group_order.updated_by)
      (#{format_time(@group_order.updated_on)})
  // Closed By
  - if @order.closed?
    %dt= heading_helper Order, :closed_by
    %dd= show_user_link @order.updated_by
  // Note
  - unless @order.note.blank?
    %dt= heading_helper Order, :note
    %dd= @order.note

-# // YOUR ORDER DETAILS
-# // TODO What do users want to see here?
-# %dl.dl-horizontal
-#   // YOUR CREDIT
-#   - if @ordering_data
-#     %dt= heading_helper Ordergroup, :account_balance
-#     %dd= number_to_currency(@ordering_data[:account_balance])
-#     - unless FoodsoftConfig[:charge_members_manually]
-#       %dt= heading_helper Ordergroup, :available_funds
-#       %dd= number_to_currency(@ordering_data[:available_funds])

-#   // Price of this order
-#   %dt= heading_helper GroupOrder, :price
-#   %dd
-#     - if @group_order
-#       = number_to_currency(@group_order.price)
-#     - else
-#       = t '.not_ordered'

-#   // Order Transport Costs
-#   - if @group_order && @group_order.transport
-#     %dt= heading_helper GroupOrder, :transport
-#     %dd= number_to_currency(@group_order.transport)
-#     %dt= heading_helper GroupOrder, :total
-#     %dd= number_to_currency(@group_order.total)
