%table
  %tr
    %td= t('group_orders.form.total_sum_amount') + ':'
    %td.currency
      %span#total_price= number_to_currency(@group_order.price)
  %tr
    - if FoodsoftConfig[:charge_members_manually]
      - old_balance = @ordering_data[:account_balance]
      %td= heading_helper(Ordergroup, :account_balance) + ':'
      %td.currency= number_to_currency(@ordering_data[:account_balance])
    - else
      - old_balance = @ordering_data[:available_funds]
      %td= heading_helper(Ordergroup, :available_funds) + ':'
      %td.currency= number_to_currency(@ordering_data[:available_funds])
  %tr
    %td= t('group_orders.form.new_funds') + ':'
    %td.currency
      %strong
        %span#new_balance= number_to_currency(old_balance - @group_order.price)
